<p style="color:white">Concept Sketches</p>
  <br>
  <div class="concept">
    <%= image_tag "peeps" %>
  </div>

  <div class="concept">
    <%= image_tag "shoecity" %>
  </div>

  <div class="concept">
    <%= image_tag "Waiting2" %>
  </div>

  <div class="concept">
    <%= image_tag "dresses" %>
  </div>

  <div class="concept">
    <%= image_tag "right" %>
  </div>

  <div class="concept">
    <%= image_tag "charcoal" %>
  </div>

  <div class="concept">
    <%= image_tag "freckles" %>
  </div>

  <div class="concept">
    <%= image_tag "pinkandblue" %>
  </div>

<br><br>

<p style="color:white">Digital</p>

  <div class="zoom">
    <%= image_tag "AgainstTheWall" %>
</div>

  <div class="zoom">
    <%= image_tag "Behind" %>
 </div>

  <div class="zoom">
    <%= image_tag "blossoms" %>
  </div>

  <div class="zoom">
    <%= image_tag "collarbones" %>
  </div>

  <div class="zoom">
    <%= image_tag "Deandra" %>
  </div>

  <div class="zoom">
    <%= image_tag "Royal" %>
  </div>

  <div class="zoom">
    <%= image_tag "heroes" %>
  </div>

  <div class="zoom">
    <%= image_tag "Head in the Clouds" %>
  </div>


  <p style="color:white">3D</p>
    <div class="zoom">
      <%= image_tag "FinalRen" %>
    </div>
</div>
