<!-- <meta http-equiv="refresh" content="0; URL='/work'" /> -->


<div class="gallery cf">

  <p class="para">Concept Sketches</p>
    <br>

  <div class="concept">
    <%= image_tag "peeps" %>
  </div>

  <div class="concept">
    <%= image_tag "dreads" %>
  </div>

  <div class="concept">
    <%= image_tag "worker" %>
  </div>

  <div class="concept">
    <%= image_tag "shoecity" %>
  </div>

  <div class="concept">
    <%= image_tag "AgainstTheWall2" %>
  </div>

  <div class="concept">
    <%= image_tag "AgainstTheWall3" %>
  </div>

  <div class="concept">
    <%= image_tag "TimConcept" %>
  </div>

  <div class="concept">
    <%= image_tag "TimConcept2" %>
  </div>

  <div class="concept">
    <%= image_tag "Blossoms5" %>
  </div>

  <div class="concept">
    <%= image_tag "Regal2" %>
  </div>

  <div class="concept">
    <%= image_tag "Head in the Clouds5" %>
  </div>

  <div class="concept">
    <%= image_tag "PosePractice" %>
  </div>

  <div class="concept">
    <%= image_tag "PosePractice2" %>
  </div>

  <div class="concept">
    <%= image_tag "PosePractice3" %>
  </div>

  <div class="concept">
    <%= image_tag "Scan 1 copy" %>
  </div>

  <div class="concept">
    <%= image_tag "Dude4" %>
  </div>

  <div class="concept">
    <%= image_tag "realisticlady" %>
  </div>

  <div class="concept">
    <%= image_tag "realisticlady2" %>
  </div>

  <div class="concept">
    <%= image_tag "Deandra2" %>
  </div>

  <div class="concept">
    <%= image_tag "hat eyes" %>
  </div>

  <div class="concept">
    <%= image_tag "Scan copy 3" %>
  </div>

  <div class="concept">
    <%= image_tag "Prince" %>
  </div>

  <div class="concept">
    <%= image_tag "Waiting2" %>
  </div>

  <div class="concept">
    <%= image_tag "Waiting3" %>
  </div>

  <div class="concept">
    <%= image_tag "Rebel2" %>
  </div>

  <div class="concept">
    <%= image_tag "Scan 1" %>
  </div>

  <div class="concept">
    <%= image_tag "Scan" %>
  </div>

  <div class="concept">
    <%= image_tag "dresses" %>
  </div>

  <div class="concept">
    <%= image_tag "freckles" %>
  </div>

  <div class="concept">
    <%= image_tag "pinkandblue" %>
  </div>

  <div class="concept">
    <%= image_tag "fur" %>
  </div>

  <div class="concept">
    <%= image_tag "pinklady" %>
  </div>

</div>




<div class="gallery cf">


<br><br>

  <p class="para">Finished Charcoal</p>

  <div class="finished">
    <%= image_tag "charcoal" %>
  </div>

  <div class="concept">
    <%= image_tag "right" %>
  </div>

  <div class="concept">
    <%= image_tag "Scan copy" %>
  </div>

  <div class="concept">
    <%= image_tag "bats" %>
  </div>

</div>








<div class="gallery cf">


<br><br>

<p class="para">Digital</p>

  <div class="zoom">
    <%= image_tag "Fly5" %>
  </div>

  <div class="zoom">
    <%= image_tag "Glasses7" %>
  </div>

  <div class="zoom">
    <%= image_tag "Profile" %>
  </div>

  <div class="zoom">
    <%= image_tag "pinklady2" %>
  </div>

  <div class="zoom">
    <%= image_tag "PinkTrees" %>
  </div>

  <div class="zoom">
    <%= image_tag "dragonfly" %>
  </div>

  <div class="zoom">
    <%= image_tag "dragonfly2" %>
  </div>

  <div class="zoom">
    <%= image_tag "boss" %>
  </div>

  <div class="zoom">
    <%= image_tag "AgainstTheWall" %>
  </div>

  <div class="zoom">
    <%= image_tag "Behind" %>
 </div>

 <div class="zoom">
   <%= image_tag "KashBig" %>
 </div>

  <div class="zoom">
    <%= image_tag "blossoms" %>
  </div>

  <div class="zoom">
    <%= image_tag "collarbones" %>
  </div>

  <div class="zoom">
    <%= image_tag "LaptopDesign" %>
  </div>

  <div class="zoom">
    <%= image_tag "Scarlet" %>
  </div>

  <div class="zoom">
    <%= image_tag "Deandra" %>
  </div>

  <div class="zoom">
    <%= image_tag "Royal" %>
  </div>

  <div class="zoom">
    <%= image_tag "heroes" %>
  </div>

  <div class="zoom">
    <%= image_tag "Head in the Clouds" %>
  </div>

  <div class="zoom">
    <%= image_tag "hero 2" %>
  </div>

</div>




<div class="gallery cf">



  <p class="para">3D</p>

    <div class="zoom">
      <%= image_tag "FinalRen" %>
    </div>

    <div class="zoom">
      <%= image_tag "Donuts" %>
    </div>

    <div class="zoom">
      <%= image_tag "Subway Dos" %>
    </div>
</div>





<!-- forces the page to reload so that the images pop up in a modal -->

<script type="text/javascript">
   if(window.location.href.substr(-2) !== "?r") {
      window.location = window.location.href + "?r";
    }
</script>


<!-- hover effect that makes images grow when clicked below -->




<script type="text/javascript">
  $(function($){
      var addToAll = true;
      var gallery = true;
      var titlePosition = 'inside';
      $(addToAll ? 'img' : 'img.fancybox').each(function(){
          var $this = $(this);
          var title = $this.attr('title');
          var src = $this.attr('data-big') || $this.attr('src');
          var a = $('<a href="#" class="fancybox"></a>').attr('href', src).attr('title', title);
          $this.wrap(a);
      });
      if (gallery)
          $('a.fancybox').attr('rel', 'fancyboxgallery');
      $('a.fancybox').fancybox({
          titlePosition: titlePosition
      });
  });
  $.noConflict();
</script>
