<!-- <h1>Draw#charcoal</h1>
<p>Find me in app/views/draw/charcoal.html.erb</p> -->

<body style="width: 40px;">



<div class="emptyBox" style="margin-bottom: 35px;">
  <p>m</p>
</div>





<!-- text and image -->
<div id="img-container">
<div class="picture_holder">
  <div class="picture">
    <div class="concept">
      <%= image_tag "charcoal" %>
    </div>
  </div>
</div>

<div class="picture_holder">
  <div class="picture">
    <div class="concept">
      <%= image_tag "right" %>
    </div><div class="captioning"></div>
  </div>
</div>

<div class="picture_holder">
<div class="picture">
  <div class="concept">
    <%= image_tag "Scan copy" %>
  </div>
</div>
</div>

<div class="picture_holder">
  <div class="picture">
    <div class="concept">
      <%= image_tag "bats" %>
    </div>
  </div>
</div>

<div class="picture_holder">
  <div class="picture">
    <div class="concept">
      <%= image_tag "realisticlady" %>
    </div>
  </div>
</div>

<!-- <div class="picture_holder">
  <div class="picture">
    <div class="concept">
      <%= image_tag "realisticlady2" %>
    </div>
  </div>
</div> -->

<div class="picture_holder">
  <div class="picture">
    <div class="concept">
      <%= image_tag "dresses" %>
    </div>
  </div>
</div>

<div class="picture_holder">
  <div class="picture">
    <div class="concept">
      <%= image_tag "freckles" %>
    </div>
  </div>
</div>

<div class="picture_holder">
  <div class="picture">
    <div class="concept">
      <%= image_tag "hat eyes" %>
    </div>
  </div>
</div>

<div class="picture_holder">
  <div class="picture">
    <div class="concept">
      <%= image_tag "pinklady" %>
    </div>
  </div>
</div>

</div>


<div style="clear: left;"><!-- --></div></div>

</body>
