<!-- <h1>Draw#digital</h1>
<p>Find me in app/views/draw/digital.html.erb</p> -->


<div class="emptyBox" style="margin-bottom: 35px;">
  <p>m</p>
</div>












<!-- text and image -->
<div id="img-container">
<div class="picture_holder"">
<div class="picture"">
  <div class="concept">
    <%= image_tag "Allegra_ 7-18- Bg" %>
  </div><div class="captioning"></div>
</div>
</div>

<div class="picture_holder">
<div class="picture">
  <div class="concept">
  <%= image_tag "Words" %>
</div>
<div class="captioning"></div>
</div>
</div>

<div class="picture_holder">
<div class="picture">
  <div class="concept">
  <%= image_tag "Glasses" %>
</div>
<div class="captioning"></div>
</div>
</div>

<div class="picture_holder">
<div class="picture">
  <div class="concept">
  <%= image_tag "Hello" %>
</div>
<div class="captioning"></div>
</div>
</div>

<!-- <div class="picture_holder">
<div class="picture">
  <div class="concept">
  <%= image_tag "Music Soul" %>
</div>
</div>
</div> -->

<div class="picture_holder">
<div class="picture">
  <div class="concept">
  <%= image_tag "pinklady2" %>
</div>
<div class="captioning"></div>
</div>
</div>

<div class="picture_holder">
<div class="picture">
  <div class="concept">
  <%= image_tag "PinkTrees" %>
</div>
<div class="captioning"></div>
</div>
</div>

<div class="picture_holder"">
<div class="picture"">
  <div class="concept">
  <%= image_tag "dragonfly" %>
</div>
<div class="captioning"></div>
</div>
</div>

<div class="picture_holder">
<div class="picture">
  <div class="concept">
  <%= image_tag "boss" %>
</div>
<div class="captioning"></div>
</div>
</div>

<div class="picture_holder">
<div class="picture">
  <div class="concept">
    <%= image_tag "AgainstTheWall" %>
  </div><div class="captioning"></div>
</div>
</div>

<div class="picture_holder">
<div class="picture">
  <div class="concept">
    <%= image_tag "Behind" %>
  </div><div class="captioning"></div>
</div>
</div>

<!-- <div class="picture_holder"">
<div class="picture"">
  <div class="concept">
    <%= image_tag "KashBig" %>
  </div><div class="captioning"></div>
</div>
</div> -->

<div class="picture_holder">
<div class="picture">
  <div class="concept">
    <%= image_tag "blossoms" %>
  </div><div class="captioning"></div>
</div>
</div>

<div class="picture_holder">
<div class="picture">
  <div class="concept">
    <%= image_tag "collarbones" %>
  </div><div class="captioning"></div>
</div>
</div>

<div class="picture_holder">
<div class="picture">
  <div class="concept">
    <%= image_tag "Scarlet" %>
  </div><div class="captioning"></div>
</div>
</div>

<div class="picture_holder">
<div class="picture">
  <div class="concept">
    <%= image_tag "Deandra" %>
  </div><div class="captioning"></div>
</div>
</div>

<div class="picture_holder">
<div class="picture">
  <div class="concept">
    <%= image_tag "Royal" %>
  </div><div class="captioning"></div>
</div>
</div>

<div class="picture_holder">
<div class="picture">
  <div class="concept">
    <%= image_tag "heroes" %>
  </div><div class="captioning"></div>
</div>
</div>

<div class="picture_holder">
  <div class="picture">
    <div class="concept">
      <%= image_tag "Head in the Clouds" %>
    </div><div class="captioning"></div>
  </div>
</div>

<div class="picture_holder">
  <div class="picture">
    <div class="concept">
      <%= image_tag "Hoodie" %>
    </div><div class="captioning"></div>
  </div>
</div>

<!-- <div class="picture_holder">
<div class="picture">
  <div class="concept">
    <%= image_tag "hero 2" %>
  </div><div class="captioning"></div>
</div>
</div> -->

<div style="clear: left;"><!-- --></div></div>
