<!DOCTYPE html>
<html>
  <head>
    <title>Forever Autumn</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


    <body>

      <header>
        <br><br><br>
        <div id="Logo">


           </p>
        </div>

          <ul>
              <li><a href="/" style= "color:white" >Home</a></li>
              <li><a href="/work" style= "color:white" >Work</a></li>
              <li><a href="/blog" style= "color:white" >Blog</a></li>
              <li><a href="/resume" style= "color:white" >Resume</a></li>
              <li><a href="/contact" style= "color:white" >Contact</a></li>
          </ul>
      </header>

            <%= yield %>

      <footer>
          <div class="Footer">
            <hr>
              <p><em>Forever Autumn </em><br> © Copyright 2018</p>
          </div>
      </footer>

    </body>
</html>
